{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="estuturas">
    <div class="container">

      <div id="manter" class="center text-center form-group">
        <h2 class="page-section-heading text-center text-secondary mb-0">Docentes</h2>
        <h5 class="page-section-heading text-center text-secondary mb-0">CERES - Campus Caicó</h5>
      </div>

      <table class="table table-striped table-sm table-bordered">
        <tr align="center">
          <th>Siape</th>
          <th>Nome</th>
          <th>Lotação</th>
          <th>SIGAA</th>
        </tr>
          {% for docente in docentes %}
            <tr>
              <td align="center">
                  {{ docente.siape }}
              </td>
              <td align="center" width="43%">{{ docente.nome }}
                <a href="{% url 'docente_detalhar' docente.pk %}">
                  <span class="material-icons md-18 align-middle">
                    find_in_page
                  </span>
                </a>
              </td>
              <td align="center">{{ docente.lotacao }}</td>
              <td align="center">
                <a href="https://sigaa.ufrn.br/sigaa/public/docente/portal.jsf?siape={{ docente.siape }}">
                  <span class="material-icons md-18 align-middle">
                    account_box
                  </span>
                </a>
              </td>
            </tr>
          {% endfor %}
      </table>
    </div>
  </section>
{% endblock %}

