{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="horarios">
    <div class="container">

      <h2 class="page-section-heading text-center text-secondary mb-0">Detalhar Sugestões de Turmas</h2>
      <br />
      <table class="table table-striped table-sm table-bordered">
        <tr>
          <td class="font-weight-bold" width="18%">Turma</td>
          <td>{{ object.codigo_turma }}</td>
        </tr>
        <tr>
          <td class="font-weight-bold" width="18%">Componente Curricular</td>
          <td>{{ object.componente }}
            <a href="{% url 'componente_detalhar' object.componente.pk %}">
              <span class="material-icons md-18 align-middle">
                find_in_page
              </span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="font-weight-bold" width="18%">Docente</td>
          <td>
            {% include 'core/sugestao/docente_exibir.html' with turma=object %}
            {% if object.docente %}
            <a href="{% url 'docente_detalhar' object.docente.pk %}">
              <span class="material-icons md-18 align-middle">
                find_in_page
              </span>
            </a>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="font-weight-bold" width="18%">Horário</td>
          <td>{{ object.descricao_horario }}</td>
        </tr>
        <tr>
          <td class="font-weight-bold" width="18%">Capacidade/Vagas</td>
          <td>{{ object.capacidade_aluno }}</td>
        </tr>
        <tr>
          <td class="font-weight-bold" width="18%">Solicitações</td>
          <td>{{ object.solicitacaoturma_set.count }}
            <a href="{% url 'solicitacao_turma_listar' object.pk %}">
              <span class="material-icons md-18 align-middle">
                find_in_page
              </span>
            </a>
          </td>
        </tr>
        <tr>
          <td class="font-weight-bold" width="18%">Local</td>
          <td>{{ object.local }}</td>
        </tr>
        <tr>
          <td class="font-weight-bold" width="18%">Criador</td>
          <td>{{ object.criador.get_full_name }}</td>
        </tr>
        <tr>
          <td class="font-weight-bold" width="18%">Data Criação</td>
          <td>{{ object.criada_em }}</td>
        </tr>
        <tr>
          <td class="font-weight-bold" width="18%">Campus</td>
          <td>{{ object.local.centro }} - {{ object.local.get_campus_display }}</td>
        </tr>
        <tr>
          <td class="font-weight-bold" width="18%">Ementa</td>
          <td class="text-justify flex-wrap">{{ object.componente.ementa }}</td>
        </tr>
      </table>
    </div>
  </section>
{% endblock %}
