{% extends 'core/base.html' %}
{% block title %} Suggest Classes - Cadastro de Sugestão de Turma {% endblock %}
{% block content %}

  <div class="container">

    <div id="manter" class="center text-center form-group">
        <h2 class="page-section-heading text-center text-secondary mb-0">
          Cadastro de Sugestão de Turma - <b>{{ estrutura.curso.nome }}</b></h2>
        <h5 class="page-section-heading text-center text-secondary mb-0">
           Período: {{ ano_periodo }}</h5>
    </div>
    <form method="post">
      {% csrf_token %}
      <table>
        {% for field in form_sugestao.hidden_fields %}
          <tr>
            <td class="align-middle">
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
            </td>
          </tr>
        {% endfor %}
        {% for field in form_sugestao.visible_fields %}
          <tr>
            <th class="align-middle" width="20%">
              <label>{{ field.label_tag }}</label>
            </th>
            <td class="align-middle">{{ field }}
              {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary">
      </div>
    </form>
  </div>
{% endblock %}
