{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="cursos">
    <div class="container">

      <div id="manter" class="center text-center form-group">
        <h2 class="page-section-heading text-center text-secondary mb-0">
          Sugestões de Turmas</h2>
        <h5 class="page-section-heading text-center text-secondary mb-0">CERES - Campus Caicó</h5>
      </div>
      <div class="row">
      <div class="list-group col">
        <a href="/core/sugestao/adm/list" class="list-group-item list-group-item-action bg-light">
          <strong>{{ adm_flow.curso.nome }}</strong> - {{ adm_flow.curso.grau }}</a>
        <a href="/core/sugestao/cont/list" class="list-group-item list-group-item-action bg-light">
          <strong>{{ cont_flow.curso.nome }}</strong> - {{ cont_flow.curso.grau }}</a>
        <a href="/core/sugestao/dir/list" class="list-group-item list-group-item-action bg-light">
          <strong>{{ dir_flow.curso.nome }}</strong> - {{ dir_flow.curso.grau }}</a>
        <a href="/core/sugestao/his-bac" class="list-group-item list-group-item-action bg-light">
          <strong>{{ his_bac_flow.curso.nome }}</strong> - {{ his_bac_flow.curso.grau }}</a>
        <a href="/core/sugestao/his-lic" class="list-group-item list-group-item-action bg-light">
          <strong>{{ his_lic_flow.curso.nome }}</strong> - {{ his_lic_flow.curso.grau }}</a>
        </div>
        <div class="list-group col">
        <a href="/core/sugestao/let-esp/list" class="list-group-item list-group-item-action bg-light">
          <strong>{{ let_esp_flow.curso.nome }}</strong> - {{ let_esp_flow.curso.grau }}</a>
        <a href="/core/sugestao/let-por/list" class="list-group-item list-group-item-action bg-light">
          <strong>{{ let_por_flow.curso.nome }}</strong> - {{ let_por_flow.curso.grau }}</a>
        <a href="/core/sugestao/let-ing/list" class="list-group-item list-group-item-action bg-light">
          <strong>{{ let_ing_flow.curso.nome }}</strong> - {{ let_ing_flow.curso.grau }}</a>
        <a href="/core/sugestao/mat/list" class="list-group-item list-group-item-action bg-light">
          <strong>{{ mat_flow.curso.nome }}</strong> - {{ mat_flow.curso.grau }}</a>
        <a href="/core/sugestao/ped/list" class="list-group-item list-group-item-action bg-light">
          <strong>{{ ped_flow.curso.nome }}</strong> - {{ ped_flow.curso.grau }}</a>
        <a href="/core/sugestao/bsi/list" class="list-group-item list-group-item-action bg-light">
          <strong>{{ bsi_flow.curso.nome }}</strong> - {{ bsi_flow.curso.grau }}</a>
        <a href="/core/sugestao/tur/list" class="list-group-item list-group-item-action bg-light">
          <strong>{{ tur_flow.curso.nome }}</strong> - {{ tur_flow.curso.grau }}</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

