{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="cursos">
    <div class="container">

      <h2 class="page-section-heading text-center text-secondary mb-0">Sugestões de Turmas por Curso</h2>
      <h4 class="text-center">Selecione o Curso</h4>
      <br />
      <div class="list-group list-group-flush">
          <a href="/core/sugestao/bsi/list" class="list-group-item list-group-item-action bg-light">Sistemas de Informação</a>
          <a href="/core/sugestao/ped/list" class="list-group-item list-group-item-action bg-light">Pedagogia</a>
      </div>
    </div>
  </section>
{% endblock %}

