{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="cursos">
    <div class="container">

      <div id="manter" class="center text-center form-group">
        <h2 class="page-section-heading text-center text-secondary mb-0">
          Sugestões de Turmas</h2>
        <h5 class="page-section-heading text-center text-secondary mb-0">CERES - Campus Caicó</h5>
      </div>
      <div class="list-group list-group-flush">
          <a href="/core/sugestao/bsi/list" class="list-group-item list-group-item-action bg-light">Sistemas de Informação</a>
          <a href="/core/sugestao/ped/list" class="list-group-item list-group-item-action bg-light">Pedagogia</a>
      </div>
    </div>
  </section>
{% endblock %}

