{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="sugestoes_manter">
    <div class="container">

      <div id="manter" class="center text-center form-group">
        <h3 class="page-section-heading text-center text-secondary mb-0">
          Sugestões de Turmas - <b>{{ estrutura.curso.nome }}</b></h3>
        <h5 class="page-section-heading text-center text-secondary mb-0">
          {{ periodo_letivo }}</h5>
      </div>
      {% if user.is_authenticated %}
        <div id="manter" class="center text-center form-group">
          {% if perms.core.add_sugestaoturma %}
            <a class="btn btn-primary btn-success" href="{{ sugestao_incluir_link }}?next={{ request.path|urlencode }}">
            <span class="material-icons align-middle">
              create
            </span>
              Incluir Sugestões de Turmas</a>
          {% endif %}
          <a class="btn btn-primary btn-info align-middle" href="{{ sugestao_grade_link }}">
            <span class="material-icons align-middle">
              view_list
            </span>
            Visualizar Grade de Horários</a>
        </div>
      {% endif %}
      <table class="table table-striped table-sm table-bordered">
        <tr class="text-center">
          <th>Turma</th>
          <th>Componente</th>
          <th>Semestre</th>
          <th>Vagas</th>
          <th>Horário</th>
          <th>Docente</th>
          <th colspan="3">Ações</th>
        </tr>
        {% for turma in sugestao_list %}
          <tr>
            <td class="align-middle text-center">{{ turma.codigo_turma }}</td>
            <td class="align-middle text-left">{{ turma.componente }}</td>
            <td class="align-middle text-center">{{ turma.semestre }}</td>
            <td class="align-middle text-center">{{ turma.capacidade_aluno }}</td>
            <td class="align-middle text-center">{{ turma.descricao_horario }}</td>
            <td class="align-middle text-center">
              {% include 'core/sugestao/vinculos_docente_exibir.html' %}
            </td>
            <td class="align-middle text-center">
              <a class="btn btn-info" href="{% url 'sugestao_detalhar' turma.pk %}" style="font-size: 12px;">
                    <span class="material-icons md-18 align-middle">
                      find_in_page
                    </span>
                  Detalhar
              </a>
            </td>
            <td class="align-middle text-center">
              <a class="btn btn-info" href="{% url sugestao_editar_link turma.pk %}?next={{ request.path|urlencode }}" style="font-size: 12px;">
                    <span class="material-icons md-18 align-middle">
                      edit
                    </span>
                  Editar
              </a>
            </td>
            <td class="align-middle text-center">
              <a class="btn btn-danger" href="{% url sugestao_deletar_link turma.pk %}?next={{ request.path|urlencode }}" style="font-size: 12px;">
                    <span class="material-icons md-18 align-middle">
                      delete
                    </span>
                  Excluir
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </section>
{% endblock %}

