{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="horarios">
    <div class="container">

      <h2 class="page-section-heading text-center text-secondary mb-0">Turmas do Curso Sistemas de Informação</h2>
      <br />
      {% for t in turmas %}
        {{ t }} <br />
      {% endfor %}
      <br />
      <table class="table">
        <tr align="center">
          <th></th>
          <th>Segunda</th>
          <th>Terça</th>
          <th>Quarta</th>
          <th>Quinta</th>
          <th>Sexta</th>
        </tr>
          {% for semana in tt %}
            <tr>
              <td align="center" width="20%">{{ semana.0.horario.ordem }}º:
                  {{ semana.0.horario.hora_inicio }} - {{ semana.0.horario.hora_final }}
              </td>
              {% for th in semana %}
                <td align="center" width="16%">
                    <p><a href="/core/{{ th.horario.id }}/">{{ th.horario }}</a></p>
                    {% for turma in th.turmas %}
                    <p>{{ turma.componente.nome }}</p>
                    {% endfor %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
      </table>
    </div>
  </section>
{% endblock %}

