{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="cursos">
    <div class="container">

      <div id="manter" class="center text-center form-group">
        <h2 class="page-section-heading text-center text-secondary mb-0">
          Turmas do Período</h2>
        <h5 class="page-section-heading text-center text-secondary mb-0">CERES - Campus Caicó</h5>
      </div>
      <div class="list-group list-group-flush">
        <a href="/core/turma/mat" class="list-group-item list-group-item-action bg-light">
          <b>{{ mat_flow.curso.nome }}</b> - {{ mat_flow.curso.grau }}</a>
        <a href="/core/turma/ped" class="list-group-item list-group-item-action bg-light">
          <b>{{ ped_flow.curso.nome }}</b> - {{ ped_flow.curso.grau }}</a>
        <a href="/core/turma/bsi" class="list-group-item list-group-item-action bg-light">
          <b>{{ bsi_flow.curso.nome }}</b> - {{ bsi_flow.curso.grau }}</a>
      </div>
    </div>
  </section>
{% endblock %}

