DJANGO_SETTINGS_MODULE=suggestclasses.settings
ALLOWED_HOSTS='localhost, 127.0.0.1, labens.dct.ufrn.br'

SECRET_KEY='your-secret-key-here'
DEBUG=True

CSRF_COOKIE_SECURE=True

# CORS
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS='http://labens.dct.ufrn.br, https://labens.dct.ufrn.br, http://localhost:8003'
CSRF_TRUSTED_ORIGINS='http://labens.dct.ufrn.br, https://labens.dct.ufrn.br, http://localhost:8003'

SESSION_COOKIE_AGE='60 * 30' # 1 hora
SESSION_COOKIE_SECURE=True
SESSION_EXPIRE_AT_BROWSER_CLOSE=True
SECURE_CONTENT_TYPE_NOSNIFF=True
SECURE_BROWSER_XSS_FILTER=True

SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=60
SECURE_HSTS_PRELOAD=True

DATABASE_NAME=scdb_dev
DATABASE_USER=sc_user
DATABASE_PASSWORD=sc_pass

DATABASE_HOST=localhost
DATABASE_PORT=5432

EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password

PYTHONPATH=${PYTHONPATH}:/code:.

export DJANGO_SETTINGS_MODULE=suggestclasses.settings
export PYTHONPATH=${PYTHONPATH}:/data/projetos/suggestclasses
