{% extends 'core/base.html' %}
{% block title %} Suggest Classes - Redefinir Senha de Usuário {% endblock %}

{% block content %}
    <div class="container">
      <h2 class="page-section-heading text-secondary logo my-4">
        Redefinir Senha de Usuário</h2>
    {% if validlink %}
        <p>Digite (e confirme) sua nova senha.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova senha:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirme a senha:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-primary" value="Mude minha senha" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h3>Falha na redefinição da senha</h3>
        <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado.
          Solicite uma nova redefinição de senha.</p>
    {% endif %}
    </div>
{% endblock %}
