{% extends 'core/base.html' %}
{% block title %} Suggest Classes - Redefinir Senha de Usuário {% endblock %}

{% block content %}

  <div class="container">
      <h2 class="page-section-heading text-secondary logo my-4">
        Redefinir Senha de Usuário</h2>

  <p>Digite seu endereço de e-mail abaixo e enviaremos instruções por e-mail para redefinir sua senha. </p>

  <form action="" method="post">
    {% csrf_token %}
    <table class="table table-borderless table-responsive-sm">
      <tr>
        <td class="align-middle text-center">
          {% if form.email.errors %}
            <p style="color: red">{{ form.email.errors }}<p>
          {% endif %}
          <p>{{ form.email.label_tag }}</p>
        </td>
        <td>
          <p>{{ form.email }}</p>
        </td>
      </tr>
    </table>
    <input type="submit" class="btn btn-primary btn-lg" value="Reset password">
  </form>
  </div>
{% endblock %}
