{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="bsi">
    <div class="container" style="overflow: auto">

      <h2 class="page-section-heading text-center text-secondary mb-0">Fluxograma BSI</h2>
      <br/>
      <table class="table table-striped table-sm table-bordered">
        <tr>
          <td class="font-weight-bold" width="25%">Estrutura</td>
          <td>{{ bsi_ec }}</td>
        </tr>
        <tr>
          <td class="font-weight-bold" width="25%">Carga Horária Total</td>
          <td>{{ bsi_ec.ch_total_minima }}</td>
        </tr>
        <tr>
          <td class="font-weight-bold" width="25%">Carga Horária Optativas</td>
          <td>{{ bsi_ec.ch_optativas_minima }}</td>
        </tr>
        <tr>
          <td id="td-ch-comp" class="font-weight-bold" width="25%">
            Carga Horária Complementar
          </td>
          <td>{{ bsi_ec.ch_complementar_minima }}</td>
        </tr>
      </table>

      <table class="table table-sm table-bordered" border="1" padding="0" cellspacing="20px" cellpadding="0"
             style="font-size:70%">
        <tr class="font-weight-bold" align="center">
          <th>Semestre</th>
          <th colspan="{{ bsi_oc_max }}">Componentes Curriculares</th>
          <th class="flex-nowrap" width="6%">CH Total</th>
        </tr>
        {% for semestre in bsi_all %}
          <tr>
            <td class="align-middle font-weight-bold" align="center" width="6%">{{ semestre.0 }}</td>
            {% for oc in semestre.1 %}
              <td align="center">
                <b>{{ oc.componente.codigo }}</b><br/>
                {{ oc.componente.nome }}<br/>
                {{ oc.componente.ch_total }}h
              </td>
            {% endfor %}
            {% if semestre.2 > 0 %}
              {% for i in "x"|ljust:semestre.2 %}
                <td></td>
              {% endfor %}
            {% endif %}
            <td class="align-middle" align="center">{{ semestre.3.componente__ch_total__sum }}h</td>
          </tr>
        {% endfor %}

        </tr>
        <tfoot>
        <tr>
          <td colspan="8" align="center">
            <a href="/core/flow/bsi/opcionais">Listar Componentes Curriculares Opcionais</a>
          </td>
        </tr>
        </tfoot>
      </table>

    </div>
  </section>
{% endblock %}
