{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="bsi">
    <div class="container" style="overflow: auto">

      <h2 class="page-section-heading text-center text-secondary mb-0">Fluxograma BSI</h2>
      <h4 class="text-center">Componentes Curriculares Opcionais</h4>

      <table class="table table-striped table-sm table-bordered">
        <tr align="center">
          <th>Estrutura</th>
          <th>Código</th>
          <th>Componente Curricular</th>
          <th>CH</th>
        </tr>
          {% for oc in bsi_oc_op %}
            <tr>
              <td align="center">{{ oc.estrutura.codigo }}</td>
              <td align="center">{{ oc.componente.codigo }}</td>
              <td align="center">{{ oc.componente.nome }}</td>
              <td align="center">{{ oc.componente.ch_total }}</td>
            </tr>
          {% endfor %}
      </table>
    </div>
  </section>
{% endblock %}

