{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="bsi">
    <div class="container" style="overflow: auto">

      <h2 class="page-section-heading text-center text-secondary mb-0">Fluxograma BSI</h2>
      <br />
      <p>Componentes Curriculares Opcionais</p>
      <br />
      <table class="table">
        <tr align="center">
          <th>ID</th>
          <th>Estrutura</th>
          <th>Componente</th>
          <th>Semestre</th>
          <th>Tipo</th>
          <th>Nível</th>
        </tr>
          {% for oc in bsi_oc_op %}
            <tr>
              <td align="center">{{ oc.id_curriculo_componente }}</td>
              <td align="center">{{ oc.estrutura.codigo }}</td>
              <td align="center">{{ oc.componente.nome }}</td>
              <td align="center">{{ oc.semestre }}</td>
              <td align="center">{{ oc.tipo }}</td>
              <td align="center">{{ oc.nivel }}</td>
            </tr>
          {% endfor %}
      </table>
    </div>
  </section>
{% endblock %}

