{% extends 'core/base.html' %}

{% block content %}

<section class="page-section" id="bsi">
  <div class="container" style="overflow: auto">

    <h2 class="page-section-heading text-center text-secondary mb-0">Fluxograma BSI</h2>
    <br />
    <p>{{ bsi_ec }}</p>
    <br />

    <table class="table" border="1" padding="0" cellspacing="20px" cellpadding="0" style="font-size:70%">
      <tr align="center">
        {% for header in headers %}
        <th>{{ header }}</th>
        {% endfor %}
      </tr>
      <tr>
        {% for semestre in bsi_ocs_semestre %}
        <td align="center" width="12.5%" style="padding: 0;">
          <table>
            {% for oc in semestre %}
            <tr align="center">
              <td height="100px">
                <b>{{ oc.componente.codigo }}</b><br />
                {{ oc.componente.nome }}
              </td>
            </tr>
            {% endfor %}
          </table>
        </td>
        {% endfor %}
      </tr>
    </table>

    <br />
    <table class="table">
      <tr align="center">
        <th>ID</th>
        <th>Estrutura</th>
        <th>Componente</th>
        <th>Semestre</th>
        <th>Tipo</th>
        <th>Nível</th>
      </tr>
      {% for oc in oc_bsi %}
      <tr>
        <td align="center">{{ oc.id_curriculo_componente }}</td>
        <td align="center">{{ oc.estrutura.codigo }}</td>
        <td align="center">{{ oc.componente.nome }}</td>
        <td align="center">{{ oc.semestre }}</td>
        <td align="center">{{ oc.tipo }}</td>
        <td align="center">{{ oc.nivel }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</section>
{% endblock %}
