{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="fluxogramas">
    <div class="container">

      <h2 class="page-section-heading text-center text-secondary mb-0">Fluxogramas</h2>
      <br />
      <div class="list-group list-group-flush">
          <a href="/core/flow/bsi" class="list-group-item list-group-item-action bg-light">Sistemas de Informação</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">Pedagogia</a>
      </div>
    </div>
  </section>
{% endblock %}

