{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="estruturas">
    <div class="container">

      <div id="manter" class="center text-center form-group">
        <h2 class="page-section-heading text-center text-secondary mb-0">
          Estruturas Curriculares</h2>
        <h5 class="page-section-heading text-center text-secondary mb-0">CERES - Campus Caicó</h5>
      </div>
      <div class="list-group list-group-flush">
        <a href="/core/flow/dir" class="list-group-item list-group-item-action bg-light">
          <b>{{ dir_flow.curso.nome }}</b> - {{ dir_flow.curso.grau }}</a>
        <a href="/core/flow/mat-h" class="list-group-item list-group-item-action bg-light">
          <b>{{ mat_flow.curso.nome }}</b> - {{ mat_flow.curso.grau }}</a>
        <a href="/core/flow/ped" class="list-group-item list-group-item-action bg-light" hidden>
          <b>{{ ped_flow.curso.nome }}</b> - {{ ped_flow.curso.grau }}</a>
        <a href="/core/flow/ped-h" class="list-group-item list-group-item-action bg-light">
          <b>{{ ped_flow.curso.nome }}</b> - {{ ped_flow.curso.grau }}</a>
        <a href="/core/flow/bsi" class="list-group-item list-group-item-action bg-light" hidden>
          <b>{{ bsi_flow_1a.curso.nome }}</b> - {{ bsi_flow_1a.curso.grau }}</a>
        <a href="/core/flow/bsi-1b" class="list-group-item list-group-item-action bg-light" hidden>
          <b>{{ bsi_flow_1b.curso.nome }}</b> - {{ bsi_flow_1b.curso.grau }} - Vertical</a>
        <a href="/core/flow/bsi-1b-h" class="list-group-item list-group-item-action bg-light">
          <b>{{ bsi_flow_1b.curso.nome }}</b> - {{ bsi_flow_1b.curso.grau }}</a>
      </div>
    </div>
  </section>
{% endblock %}

