{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="estruturas">
    <div class="container">

      <h2 class="page-section-heading text-center text-secondary mb-0">Estruturas Curriculares</h2>
      <br />
      <div class="list-group list-group-flush">
        <a href="/core/flow/bsi" class="list-group-item list-group-item-action bg-light">
          Sistemas de Informação - 01A</a>
        <a href="/core/flow/bsi-1b" class="list-group-item list-group-item-action bg-light">
          Sistemas de Informação - 01B</a>
          <a href="/core/flow/ped" class="list-group-item list-group-item-action bg-light">Pedagogia</a>
      </div>
    </div>
  </section>
{% endblock %}

