{% extends 'core/base.html' %}
{% load sc_extras %}
{% block content %}

  <section class="page-section" id="turma_horarios">
    <div class="container">
      <div id="manter" class="center text-center form-group">
        <h3 class="page-section-heading text-center text-secondary mb-0">
          Turmas do Curso de <b>{{ estrutura.curso.nome }} - {{ estrutura.curso.grau }}</b></h3>
        <h5 class="page-section-heading text-center text-secondary mb-0">CERES - Campus Caicó</h5>
      </div>
      <div class="text-center" id="div_semestres" style="font-size: 90%">
        <form id="form_semestres" method="get">
          <fieldset>
            <input type="radio" id="p19.1" name="ano_periodo" value="2019.1">
            <label for="p19.1">Período 2019.1</label>
            <input type="radio" id="p19.2" name="ano_periodo" value="2019.2">
            <label for="p19.2">Período 2019.2</label>
            <input type="radio" id="p20.1" name="ano_periodo" value="2020.1">
            <label for="p20.1">Período 2020.1</label>
          </fieldset>
          <fieldset>
            <input type="checkbox" id="1p" name="semestres" value="1">
            <label for="1p">1º Período</label>
            <input type="checkbox" id="2p" name="semestres" value="2">
            <label for="2p">2º Período</label>
            <input type="checkbox" id="3p" name="semestres" value="3">
            <label for="3p">3º Período</label>
            <input type="checkbox" id="4p" name="semestres" value="4">
            <label for="4p">4º Período</label>
            <input type="checkbox" id="5p" name="semestres" value="5">
            <label for="5p">5º Período</label>
            <input type="checkbox" id="6p" name="semestres" value="6">
            <label for="6p">6º Período</label>
            <input type="checkbox" id="7p" name="semestres" value="7">
            <label for="7p">7º Período</label>
            <input type="checkbox" id="8p" name="semestres" value="8">
            <label for="8p">8º Período</label>
            <input type="checkbox" id="0p" name="semestres" value="0">
            <label for="0p">Opcionais</label>
            <input type="checkbox" id="todos" name="semestres" value="100">
            <label for="todos">Todos</label>
          </fieldset>
          <button id="get_turmas" type="submit">Carregar Turmas</button>
        </form>
      </div>

      <br/>
      <table class="table table-striped table-sm table-bordered">
        <thead class="thead-light">
        <tr class="text-center">
          <th colspan="7">Turmas do Período {{ periodo_selecionado }} - Semestres: {{ semestres_selecionado }} <br/>
            <div class="align-middle" style="font-size: 12px">
              <span class="material-icons md-18 align-middle" style="color: darkslateblue">bookmark</span>Obrigatória
              <span class="material-icons md-18 align-middle" style="color: green">bookmark</span> Optativa
            </div>
          </th>
        </tr>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Segunda</th>
          <th scope="col">Terça</th>
          <th scope="col">Quarta</th>
          <th scope="col">Quinta</th>
          <th scope="col">Sexta</th>
          <th scope="col">Sábado</th>
        </tr>
        </thead>
        <tbody>
        {% for semana in turmas_por_horario %}
          <tr>
            <th class="align-middle" scope="row" width="12.4%" style="font-size: 12px;text-align: center;">
              {{ semana.0.horario.ordem }}º: {{ semana.0.horario.hora_inicio }} - {{ semana.0.horario.hora_final }}
            </th>
            {% for th in semana %}
              <td class="text-center" width="14.6%">
                {% for turma in th.turmas %}
                  <div class="sugestao-turma border">
                    {% get_curriculo turma estrutura as curriculo %}
                    {% if curriculo.tipo_vinculo != 'OPTATIVO' %}
                      <span class="material-icons md-18 align-middle" style="color: darkslateblue">bookmark</span>
                      <span style="color: darkslateblue">
                        {{ turma.componente.codigo }} - T{{ turma.codigo_turma }}
                      </span>
                      <span class="material-icons md-18 align-middle" style="color: darkslateblue">
                          filter_{{ curriculo.semestre }}
                      </span>
                    {% else %}
                      <span class="material-icons md-18 align-middle" style="color: green">bookmark</span>
                      <b style="color: green">{{ turma.componente.codigo }} - T{{ turma.codigo_turma }}</b>
                      <i class="material-icons md-18 align-middle" style="color: green">
                        check_circle_outline
                      </i>
                    {% endif %}
                    <br/>
                    <b>{{ turma.componente.nome }}</b>
                    <br/>
                    {% include 'core/turmas/vinculos_docente_exibir.html' %}
                    <br/>
                    <i>{{ turma.local }}</i> <br/>
                    <a href="{% url 'turma_detalhar' turma.pk %}">
                      <span class="material-icons md-18 align-middle">
                        find_in_page
                      </span>
                    </a>
                  </div>
                {% endfor %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
        <tbody>
      </table>
    </div>
  </section>
{% endblock content %}
{% block myscripts %}
  <script>
    $(document).ready(function () {
      $('#get_turmas').click({
        serviceUrl: '{{ turma_list_link }}',
        paramName: 'semestres',
        paramName: 'ano_periodo',
      });
    });
  </script>
{% endblock myscripts %}
