{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="cursos">
    <div class="container">

      <div id="manter" class="center text-center form-group">
        <h2 class="page-section-heading text-center text-secondary mb-0">
          Turmas do Período</h2>
        <h5 class="page-section-heading text-center text-secondary mb-0">CERES - Campus Caicó</h5>
      </div>
      <div class="list-group list-group-flush">
        <a href="/core/turmas/adm" class="list-group-item list-group-item-action bg-light">
          <b>{{ adm_flow.curso.nome }}</b> - {{ adm_flow.curso.grau }}</a>
        <a href="/core/turmas/dir" class="list-group-item list-group-item-action bg-light">
          <b>{{ dir_flow.curso.nome }}</b> - {{ dir_flow.curso.grau }}</a>
        <a href="/core/turmas/let-esp" class="list-group-item list-group-item-action bg-light">
          <b>{{ let_esp_flow.curso.nome }}</b> - {{ let_esp_flow.curso.grau }}</a>
        <a href="/core/turmas/let-por" class="list-group-item list-group-item-action bg-light">
          <b>{{ let_por_flow.curso.nome }}</b> - {{ let_por_flow.curso.grau }}</a>
        <a href="/core/turmas/let-ing" class="list-group-item list-group-item-action bg-light">
          <b>{{ let_ing_flow.curso.nome }}</b> - {{ let_ing_flow.curso.grau }}</a>
        <a href="/core/turmas/mat" class="list-group-item list-group-item-action bg-light">
          <b>{{ mat_flow.curso.nome }}</b> - {{ mat_flow.curso.grau }}</a>
        <a href="/core/turmas/ped" class="list-group-item list-group-item-action bg-light">
          <b>{{ ped_flow.curso.nome }}</b> - {{ ped_flow.curso.grau }}</a>
        <a href="/core/turmas/bsi" class="list-group-item list-group-item-action bg-light">
          <b>{{ bsi_flow.curso.nome }}</b> - {{ bsi_flow.curso.grau }}</a>
        <a href="/core/turmas/tur" class="list-group-item list-group-item-action bg-light">
          <b>{{ tur_flow.curso.nome }}</b> - {{ tur_flow.curso.grau }}</a>
      </div>
    </div>
  </section>
{% endblock %}

