{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="horarios">
    <div class="container">

      <h3 class="page-section-heading text-center text-secondary mb-0">Detalhar Enquetes de Turmas</h3>
      <br />
      <div>
        <table class="table table-striped table-sm table-bordered">
          <tr>
            <td colspan="1" class="font-weight-bold" style="width: 15%">Nome</td>
            <td colspan="5">{{ object.nome }}</td>
          </tr>
          <tr>
            <td colspan="1" class="font-weight-bold">Descrição</td>
            <td colspan="5" class="text-justify flex-wrap">{{ object.descricao }}</td>
          </tr>
          <tr>
            <td colspan="1" class="font-weight-bold">Período</td>
            <td colspan="1">
              {{ object.periodo }}
            </td>
            <td colspan="1" class="font-weight-bold" style="width: 15%">Status</td>
            <td colspan="1">{{ object.get_status_display }}</td>
            <td colspan="1" class="font-weight-bold" style="width: 15%">Votos Possíveis</td>
            <td colspan="1" style="width: 5%">{{ object.numero_votos }}</td>
          </tr>
          <tr>
            <td colspan="1" class="font-weight-bold">Curso</td>
            <td colspan="5">{{ object.curso }}</td>
          </tr>
          <tr>
            <td class="font-weight-bold" width="10%">Taxa de Votação</td>
            <td>
              {{ taxa_votacao }}
            </td>
            <td class="font-weight-bold" style="width: 18%">Taxa de Abstenção</td>
            <td>
              {{ taxa_abstencao }}
            </td>
            <td class="font-weight-bold" style="width: 15%">Discentes Ativos</td>
            <td>
              {{ discentes_ativos }}
            </td>
          </tr>
          <tr>
            <td colspan="1" class="font-weight-bold">Início</td>
            <td colspan="1">
              {{ object.data_hora_inicio|date:"SHORT_DATETIME_FORMAT" }}
            </td>
            <td colspan="2" class="font-weight-bold">Fim</td>
            <td colspan="2">
              {{ object.data_hora_fim|date:"SHORT_DATETIME_FORMAT" }}
            </td>
          </tr>
        </table>
      </div>

      <div id="votar" class="center text-center form-group">
        <a class="btn btn-primary btn-danger" href="/core/enquetes/list/">
          Voltar
        </a>
        <a class="btn btn-primary btn-warning"
             href="{% url 'enquete_detalhar_voto' object.pk %}?next={{ request.path|urlencode }}">
          <span class="material-icons align-middle">
            find_in_page
          </span>
            Detalhar Voto</a>
          {% if user.is_authenticated %}
            {% if perms.core.add_vototurma and object.status != object.FECHADA %}
              <a class="btn btn-primary btn-success"
                 href="{% url 'enquete_votar' object.pk %}?next={{ request.path|urlencode }}">
              <span class="material-icons align-middle">
                create
              </span>
                Votar</a>
            {% endif %}
          {% endif %}
      </div>

      <div>
        <table class="table table-striped table-sm table-bordered">
          <thead class="thead-light">
          <tr class="text-center">
            <th colspan="4">Votos Por Componente</th>
          </tr>
          <tr class="text-center">
            <th>Código</th>
            <th>Nome</th>
            <th>Qtd Votos</th>
            <th>Listar Votos</th>
          </tr>
          </thead>
          <tbody>
          {% for voto in votos_por_componente %}
            <tr class="text-center">
              <td>{{ voto.componente__codigo }}</td>
              <td>{{ voto.componente__nome }}</td>
              <td>{{ voto.votos }}</td>
              <td>
                <a href="{% url 'enquete_votos_listar' object.pk voto.componente__pk %}">
                  <span class="material-icons md-18 align-middle">
                    find_in_page
                  </span>
                </a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td class="text-center" colspan="4">Votação vazia!</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}
