{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="salas">
    <div class="container">

      <div id="manter" class="center text-center form-group">
        <h2 class="page-section-heading text-center text-secondary mb-0">Enquetes de Turmas</h2>
        <h5 class="page-section-heading text-center text-secondary mb-0">CERES - Campus Caicó</h5>
      </div>

      <div id="buscar_salas" align="center">
        <form method="get">
          <table class="table table-sm table-borderless table-active table-responsive">
            <thead class="text-center">
            <tr>
              <th class="align-middle text-center" colspan="4">
                <h5 class="align-middle">Buscar Enquetes</h5>
              </th>
            </tr>
            </thead>
            <tbody class="text-left">
            <tr>
              <td class="font-weight-bold">
                {{ filter.form.nome.label_tag }}
              </td>
              <td>
                {{ filter.form.nome }}
              </td>
              <td class="font-weight-bold">
                {{ filter.form.curso.label_tag }}
              </td>
              <td>
                {{ filter.form.curso }}
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold">
                {{ filter.form.periodo.label_tag }}
              </td>
              <td>
                {{ filter.form.periodo }}
              </td>
              <td class="font-weight-bold">
                {{ filter.form.status.label_tag }}
              </td>
              <td>
                {{ filter.form.status }}
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td class="align-middle text-right" colspan="4">
                <button class="btn btn-primary" type="submit">
                  <span class="material-icons md-18 align-middle">
                    find_in_page
                  </span>
                  Buscar
                </button>
              </td>
            </tr>
            </tfoot>
          </table>
        </form>
      </div>
      <br>
      <div>
        <table class="table table-striped table-sm table-bordered">
          <thead class="thead-light">
          <tr align="center">
            <th colspan="5">Lista de Enquetes</th>
          </tr>
          <tr align="center">
            <th>Nome</th>
            <th>Curso</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          {% for enquete in filter.qs %}
            <tr>
              <td align="center">{{ enquete.nome }}
                <a href="{% url 'enquete_detalhar' enquete.pk %}">
                  <span class="material-icons md-18 align-middle">
                    find_in_page
                  </span>
                </a>
              </td>
              <td align="center">{{ enquete.curso.nome }}</td>
              <td align="center">
                {{ enquete.data_hora_inicio|date:"SHORT_DATETIME_FORMAT" }}
              </td>
              <td align="center">
                {{ enquete.data_hora_fim|date:"SHORT_DATETIME_FORMAT" }}
              </td>
              <td align="center">{{ enquete.get_status_display }}</td>
            </tr>
          {% empty %}
            <tr>
              <td align="center" colspan="6">Lista de enquetes vazia!</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}

