{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="cursos">
    <div class="container">

      <h2 class="page-section-heading text-center text-secondary mb-0">Cursos</h2>
      <br />
      <table class="table table-striped table-sm table-bordered">
        <tr align="center">
          <th>Código</th>
          <th>Nome</th>
          <th>Coordenador</th>
          <th>Nível</th>
          <th>Grau</th>
          <th>Modalidade</th>
          <th>Turno</th>
          <th>Centro</th>
        </tr>
          {% for curso in cursos %}
            <tr>
              <td align="center">{{ curso.codigo }}</td>
              <td align="center">{{ curso.nome }}</td>
              <td align="center">{{ curso.coordenador.nome }}</td>
              <td align="center">{{ curso.nivel }}</td>
              <td align="center">{{ curso.grau }}</td>
              <td align="center">{{ curso.modalidade }}</td>
              <td align="center">{{ curso.turno }}</td>
              <td align="center">{{ curso.centro.sigla }}</td>
            </tr>
          {% endfor %}
      </table>
    </div>
  </section>
{% endblock %}

