{% extends 'core/base.html' %}

{% block content %}

  <!-- Dashboard Section -->
  <section class="page-section" id="dashboard">
      <div class="container">

        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-secondary mb-0">Dashboard</h2>
        <h4 class="age-section-heading text-center text-secondary"><p>{{ ceres }}</p></h4>
        <p><b>Observação:</b> Todos os dados são provenientes de Dados Abertos em
          <a href="http://dados.ufrn.br">http://dados.ufrn.br</a>. Dependendo do dado não temos o mais atual.</p>
        <br />
        <!-- Icon Divider -->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>

        <!-- Portfolio Grid Items -->
        <div class="row">

          <div class="col-lg-4 col-md-3 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">
                  <b>Departamentos</b>
                </h4>
                <p class="card-text">
                  <p class="fonte_pequena">
                    {% for depto in departamentos %}
                      {{ depto.nome }} <br />
                    {% endfor %}
                  </p>
                  <p>Total: {{ departamentos.count }}</p>
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><a href="/core/departamento/list/">Listar Todas</a></small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-3 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">
                  <b>Cursos</b>
                </h4>
                <p class="card-text">
                  <p class="fonte_pequena">
                  {% for curso in cursos %}
                    {{ curso.nome }} - {{ curso.grau }} <br />
                  {% endfor %}
                  </p>
                  <p>Total: {{ cursos.count }}</p>
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><a href="/core/curso/list/">Listar Todas</a></small>
              </div>
            </div>
          </div>

         <div class="col-lg-4 col-md-3 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">
                  <b href="#">Componentes</b>
                </h4>
                <p class="card-text">
                  <p class="fonte_pequena">
                  {% for d in componentes_by_depto %}
                    {% for c in d %}
                      {% if forloop.first %}
                        {{ c.departamento.sigla }}:
                      {% endif %}
                    {% endfor %}
                    {{ d.count }} <br />
                  {% endfor %}
                  </p>
                  <p>Total: {{ componentes.count }}</p>
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><a href="/core/componente/list/">Listar Todas</a></small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-3 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Estruturas Curriculares</a>
                </h4>
                <p class="card-text">
                  <p>Total: {{ estruturas.count }}</p>
                </p>
                <img src="/core/plot/" width="300px" />
              </div>
              <div class="card-footer">
                <small class="text-muted"><a href="/core/curriculo/list/">Listar Todas</a></small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
    </section>

{% endblock %}
