{% extends 'core/base.html' %}
{% block title %}Suggest Classes - Home{% endblock %}
{% block content %}

  <!-- Dashboard Section -->
  <section class="page-section" id="dashboard">
    <div class="container">

      <div id="manter" class="center text-center form-group">
        <h3 class="page-section-heading text-center text-secondary mb-0">
          Sistema de Sugestão de Turmas e Análise de Dados Educacionais</h3>
        <h5 class="page-section-heading text-center text-secondary mb-0">CERES - Campus Caicó</h5>
      </div>

      <div class="row">
        <div class="col-md-8 mb-5 text-justify">
          <hr>
          <p>O Sistema <strong>SuggestClass</strong> permite o carregamento de <strong>Dados Abertos da UFRN</strong> e exibe informações
            tratadas que possam ser utilizadas por gestores, docentes e discentes.</p>
          <p class="alert-info">
            <strong>Atualização 1: </strong>Dados atualizados em 18/02/2022!<br>
            <strong>Atualização 2: </strong>Enquetes para 2022.1 ativas, acesse <a href="/core/enquetes/list/">Enquetes</a> e vote.
          </p>

          <p>A versão 1.5.1 permite visualizar <a href="/core/turmas/"><strong>Turmas do Período Atual e Anteriores</strong></a> e
            <a href="/core/sugestao/"><strong>Sugestões de Turmas do Próximo Período</strong></a> em formato de
            tabela de horários. Permite também visualizar os horários em <strong>Perfil</strong>, o discente pode
            adicionar disciplinas ao histórico, e alguns bugs foram resolvidos.
            Mais informações e novidades acesse o menu <a href="/core/sobre">Sobre</a>. Exibimos a seguir informações do CERES, dados da FELCS podem ser acessados <a href="/core/sobre">aqui</a>!</p>
          <hr>
          <div class="row">
            <div class="col-sm-3 col-md-6 col-lg-6">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="/core/curso/list/">Cursos</a>
                  <span class="badge badge-primary badge-pill">{{ cursos.count }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="/core/departamento/list/">Departamentos</a>
                  <span class="badge badge-primary badge-pill">{{ departamentos.count }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="/core/componente/list/">Componentes Curriculares</a>
                  <span class="badge badge-primary badge-pill">{{ componentes.count }}</span>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="/core/discente/list/" class="disabled" tabindex="-1">Discentes Ingressantes</a>
                  <span class="badge badge-primary badge-pill">{{ discentes.count }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="/core/discente/list/" class="disabled" tabindex="-1">Discentes Ativos</a>
                  <span class="badge badge-primary badge-pill">{{ discentes_ativos.count }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="/core/docentes/list/">Docentes</a>
                  <span class="badge badge-primary badge-pill">{{ docentes.count }}</span>
                </li>
              </ul>
            </div>
          </div>
          <br>
        </div>
        <div class="col-md-4 mb-5">
          <hr>
          <address>
            <strong>LABENS - Laboratório de Banco de Dados e Engenharia de Software</strong>
            <br>Centro de Ensino Superior do Seridó - CERES/UFRN
            <br>Caicó, RN
            <br><a href="http://labens-ufrn.github.io/">http://labens-ufrn.github.io/</a>
            <br>
          </address>
          <address>
            <abbr title="Email">E-mail:</abbr>
            <a href="mailto:#">taciano.silva@ufrn.br</a>
          </address>
          <span class="alert-danger">
            <strong>Obs. 1: </strong>SuggestClasses v1.5.1: Versão GAMA pode conter funcionalidades em desenvolvimento!
          </span>
          <p class="alert-info"><strong>Obs. 2:</strong> Sugestões de melhorias são bem-vindas por e-mail.</p>

        </div>
      </div>
    </div>
  </section>

{% endblock %}
