{% extends 'core/base.html' %}
{% block title %}Suggest Classes - Home{% endblock %}
{% block content %}

  <!-- Dashboard Section -->
  <section class="page-section" id="dashboard">
    <div class="container">

      <div id="manter" class="center text-center form-group">
        <h3 class="page-section-heading text-center text-secondary mb-0">
          Sistema de Sugestão de Turmas e Análise de Dados Educacionais</h3>
        <h5 class="page-section-heading text-center text-secondary mb-0">CERES - Campus Caicó</h5>
      </div>

      <div class="row">
        <div class="col-md-8 mb-5 text-justify">
          <hr>
          <div class="row">
            <p>O Sistema <strong>SuggestClass</strong> permite o carregamento de <strong>Dados Abertos da UFRN</strong> e exibe informações
            tratadas que possam ser utilizadas por gestores, docentes e discentes. Exibimos a seguir informações do CERES, dados da FELCS serão divulgados posteriomente.</p>
            <span class="alert-info">
              <strong>Atualização: Dados atualizados em 12/07/2024!</strong>
              As Enquetes para o Período Letivo {{ periodo_planejado }} estão ativas, acesse <a href="{% url 'search_enquetes' %}">Enquetes</a> e vote nos componentes curriculares que pretende cursar.
            </span>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3 col-md-6 col-lg-6">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="{% url 'Lista de Cursos' %}">Cursos</a>
                  <span class="badge badge-primary badge-pill">{{ cursos.count }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="{% url 'Lista de Departamentos' %}">Departamentos</a>
                  <span class="badge badge-primary badge-pill">{{ departamentos.count }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="{% url 'Lista de Componentes Curriculares' %}">Componentes Curriculares</a>
                  <span class="badge badge-primary badge-pill">{{ componentes.count }}</span>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="{% url 'docentes_list' %}" class="disabled" tabindex="-1">Discentes</a>
                  <span class="badge badge-primary badge-pill">{{ discentes.count }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="{% url 'docentes_list' %}" class="disabled" tabindex="-1">Discentes Ativos</a>
                  <span class="badge badge-primary badge-pill">{{ discentes_ativos.count }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="{% url 'docentes_list' %}">Docentes</a>
                  <span class="badge badge-primary badge-pill">{{ docentes.count }}</span>
                </li>
              </ul>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="text-justify">
              <span>A versão 2.0.0 permite visualizar <a href="{% url 'turmas_list' %}"><strong>Turmas do Período Atual e Anteriores</strong></a> e
                <a href="{% url 'sugestao_list' %}"><strong>Sugestões de Turmas do Próximo Período</strong></a> em formato de
                tabela de horários. Permite também visualizar os horários em <strong>Perfil</strong>, o discente pode
                adicionar disciplinas ao histórico, e alguns bugs foram resolvidos. Esta versão tem funcionalidades refatoradas e ainda pode conter funcionalidades em desenvolvimento! 
                Mais informações e novidades acesse o menu <a href="{% url 'sobre_details' %}">Sobre</a>.</span>
            </div>
          </div>
          <br>
        </div>
        <div class="col-md-4 mb-5">
          <hr>
          <address>
            <strong>LABENS - Laboratório de Banco de Dados e Engenharia de Software</strong>
            <br>Centro de Ensino Superior do Seridó - CERES/UFRN
            <br>Caicó, RN
            <br><a href="http://labens-ufrn.github.io/">http://labens-ufrn.github.io/</a>
            <br>
          </address>
          <address>
            <abbr title="Email">E-mail:</abbr>
            <a href="mailto:#">taciano.silva@ufrn.br</a>
          </address>
          <p class="alert-danger">
            <strong>Obs. 1: </strong>SuggestClasses v2.0.0: Esta versão tem funcionalidades refatoradas e ainda pode conter funcionalidades em desenvolvimento!
          </p>
          <p class="alert-info"><strong>Obs. 2:</strong> Sugestões de melhorias são bem-vindas por e-mail.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
