{% extends 'core/base.html' %}

{% block content %}

  <!-- Dashboard Section -->
  <section class="page-section" id="dashboard">
    <div class="container">

      <div id="manter" class="center text-center form-group">
        <h2 class="page-section-heading text-center text-secondary mb-0">
          Sistema de Sugestão de Turmas e Análise de Dados Educacionais</h2>
        <h5 class="page-section-heading text-center text-secondary mb-0">CERES - Campus Caicó</h5>
      </div>

      <div class="divider-custom">
        <div class="divider-custom-line">
          <span class="alert-danger">
            <b>Obs. 1: </b>SuggestClasses v1.0-alpha: Versão de Testes que pode conter bugs e
            funcionalidades em desenvolvimento. Os dados cadastrados não serão salvos! Atualmente apenas dados
            do <b>Centro de Ensino Superior do Seridó - CERES/UFRN</b> estão carregados.
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 mb-5">
          <hr>
          <p>O Sistema <b>SuggestClass</b> permite o carregamento de <b>Dados Abertos da UFRN</b> e exibe informações
            tratadas que possam ser utilizadas por gestores, docentes e discentes.</p>
          <p>O objetivo da versão 1.0 é exibir <a href="/core/turma/"><b>Turmas do Período Atual</b></a> e
            <a href="/core/sugestao/"><b>Sugestões de Turmas do Próximo Período</b></a> em formato de
            tabela de horários. Sendo possível exibir a tabela de horários por Curso (Pedagogia, Sistema de Informação),
            por Sala, por Docente e por Discente.</p>
          <hr>
          <div class="row">
            <div class="col-sm-3 col-md-6 col-lg-6">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="/core/curso/list/">Cursos</a>
                  <span class="badge badge-primary badge-pill">{{ cursos.count }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="/core/departamento/list/">Departamentos</a>
                  <span class="badge badge-primary badge-pill">{{ departamentos.count }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="/core/componente/list/">Componentes Curriculares</a>
                  <span class="badge badge-primary badge-pill">{{ componentes.count }}</span>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="/core/discente/list/" class="disabled" tabindex="-1">Discentes Ingressantes</a>
                  <span class="badge badge-primary badge-pill">{{ discentes.count }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="/core/discente/list/" class="disabled" tabindex="-1">Discentes Ativos</a>
                  <span class="badge badge-primary badge-pill">{{ discentes_ativos.count }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="/core/docente/list/">Docentes</a>
                  <span class="badge badge-primary badge-pill">{{ docentes.count }}</span>
                </li>
              </ul>
            </div>
          </div>
          <br>
          <p class="alert-danger"><b>Obs. 2:</b> Todos os dados são provenientes de Dados Abertos em
            <a href="http://dados.ufrn.br">http://dados.ufrn.br</a>. Como dependemos dos dados publicados
            podemos não ter a informação mais atual.</p>
        </div>
        <div class="col-md-4 mb-5">
          <hr>
          <address>
            <strong>LABENS - Laboratório de Banco de Dados e Engenharia de Software</strong>
            <br>Centro de Ensino Superior do Seridó - CERES/UFRN
            <br>Caicó, RN
            <br><a href="http://labens-ufrn.github.io/">http://labens-ufrn.github.io/</a>
            <br>
          </address>
          <address>
            <abbr title="Telefone/Whatsapp">Fone:</abbr>
            (84) 9-9927-4706
            <br>
            <abbr title="Email">E-mail:</abbr>
            <a href="mailto:#">taciano@dct.ufrn.br</a>
          </address>
          <p class="alert-info"><b>Obs. 3:</b> Sugestões de melhorias são bem-vindas por e-mail ou pelo
            <b><a href="https://github.com/labens-ufrn/suggestclasses">GitHub do SuggestClasses</a></b>
            (issues e pull requests).</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
