{% extends 'core/base.html' %}

{% block content %}

  <!-- Dashboard Section -->
  <section class="page-section" id="dashboard">
      <div class="container">

        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-secondary mb-0">Dashboard</h2>
        <h3 class="age-section-heading text-center text-secondary"><p>{{ ceres }}</p></h3>
        <br />
        <!-- Icon Divider -->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>

        <!-- Portfolio Grid Items -->
        <div class="row">

          <div class="col-lg-4 col-md-3 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Departamentos</a>
                </h4>
                <p class="card-text">
                  <p>Total: {{ departamentos.count }}</p>
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><a href="/core/departamento/list/">Listar Todas</a></small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-3 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Cursos</a>
                </h4>
                <p class="card-text">
                  <p>Total: {{ cursos.count }}</a></p>
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><a href="/core/curso/list/">Listar Todas</a></small>
              </div>
            </div>
          </div>

         <div class="col-lg-4 col-md-3 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Componentes</a>
                </h4>
                <p class="card-text">
                  <p>Total: {{ componentes.count }}</a></p>
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><a href="/core/componente/list/">Listar Todas</a></small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-3 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Estruturas Curriculares</a>
                </h4>
                <p class="card-text">
                  <p>Total: {{ estruturas.count }}</a></p>
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><a href="/core/curriculo/list/">Listar Todas</a></small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
    </section>

{% endblock %}
