{% extends 'core/base.html' %}

{% block content %}

  <!-- Dashboard Section -->
  <section class="page-section" id="dashboard">
    <div class="container">

      <div id="manter" class="center text-center form-group">
        <h3 class="page-section-heading text-center text-secondary mb-0">
          Sistema de Sugestão de Turmas e Análise de Dados Educacionais</h3>
        <h5 class="page-section-heading text-center text-secondary mb-0">CERES - Campus Caicó</h5>
      </div>

      <div class="row">
        <div class="col-md-8 mb-5 text-justify">
          <hr>
          <p>O Sistema <strong>SuggestClasses</strong> permite o carregamento de <a href="http://dados.ufrn.br">
            <strong>Dados Abertos da UFRN</strong></a> e exibe informações tratadas que possam ser utilizadas por gestores, docentes e discentes.</p>
          <p class="alert-info"><strong>Atualizações:</strong> Os dados de discente, docentes, componentes curriculares e
            funções gratificadas foram atualizados em 09/04/2021.</p>
          <p>A versão 1.3.4 permite visualizar <a href="/core/turma/"><strong>Turmas do Período Atual</strong></a> e
            <a href="/core/sugestao/"><strong>Sugestões de Turmas do Próximo Período</strong></a> em formato de tabela de
            horários. Sendo possível exibir a tabela de horários por Curso (Matemática, Pedagogia, Sistema de Informação),
            por Sala, por Docente e por Discente.</p>
          <p>Na versão 1.3.4 temos implementado dois perfis de usuário: Docente e Dicente.
            Onde os Docente pode ter permissões de Chefe e Coordenadores. Nesta versão temos as seguintes
            atualizações:
            <ul>
              <li>Criação de um histórico discente com a lista de componentes curriculares com aprovação;</li>
              <li>Exibição de requisitos na votação de enquetes de componentes curriculares;</li>
              <li>Funcionalidades para avaliação de Expressão de Requisitos;</li>
              <li>Bug fixed: Exibição da lista de sugestões de turmas no Perfil Docente;</li>
              <li>Bug fixed: Exibição dos docentes em sugestões de turmas com mais de um docente;</li>
              <li>Bug fixed: Verificação de permissões de coordenador.</li>
            </ul>
          </p>
          <hr>
          <div class="row">
            <div class="col-sm-3 col-md-6 col-lg-6">
              <label for="list-1"><b>Perfil Chefe/Coordenador</b></label>
              <ul id="list-1" class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Visualizar Turmas do período atual;
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Criar Sugestão de Turma do próximo semestre;
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Editar Sugestão de Turma (mudar horário, docente, sala, vagas, etc);
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Visualizar discentes interessados na sugestão de turma;
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Visualizar a grade de horários de um docente, sala, semestre, etc;
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <label for="list-2"><b>Perfil Discente</b></label>
              <ul id="list-2" class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Visualizar Turmas do período atual;
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Visualizar informações detalhadas das turmas;
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Visualizar Sugestões de Turma e informar interesse na turma;
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Visualizar a grade de horários do discente;
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Visualizar a grade de horários de um docente, sala, semestre, etc;
                </li>
              </ul>
            </div>
          </div>
          <br>
          <p class="alert-danger"><strong>Obs.:</strong> Todos os dados são provenientes de Dados Abertos em
            <a href="http://dados.ufrn.br">http://dados.ufrn.br</a>. Como dependemos dos dados publicados
            podemos não ter a informação mais atual.</p>
        </div>
        <div class="col-md-4 mb-5">
          <hr>
          <address>
            <strong>LABENS - Laboratório de Banco de Dados e Engenharia de Software</strong>
            <br>Centro de Ensino Superior do Seridó - CERES/UFRN
            <br>Caicó, RN
            <br><a href="http://labens-ufrn.github.io/">http://labens-ufrn.github.io/</a>
            <br>
          </address>
          <address>
            <abbr title="Email">E-mail:</abbr>
            <a href="mailto:#">taciano.silva@ufrn.br</a>
          </address>
          <p class="alert-info"><b>Obs. 3:</b> Sugestões de melhorias são bem-vindas por e-mail.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
