{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="estuturas">
    <div class="container">

      <h2 class="page-section-heading text-center text-secondary mb-0">Departamentos</h2>
      <br />
      <table class="table">
        <tr align="center">
          <th>ID</th>
          <th>Código</th>
          <th>Sigla</th>
          <th>Nome</th>
          <th>Centro</th>
        </tr>
          {% for depto in departamentos %}
            <tr>
              <td align="center">{{ depto.id_unidade }}</td>
              <td align="center">{{ depto.codigo }}</td>
              <td align="center">{{ depto.sigla }}</td>
              <td align="center">{{ depto.nome }}</td>
              <td align="center">{{ depto.centro.nome }}</td>
            </tr>
          {% endfor %}
      </table>
    </div>
  </section>
{% endblock %}

