{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="componentes">
    <div class="container">

      <h3 class="page-section-heading text-center text-secondary mb-0">Componentes Curriculares</h3>
      <h5 class="page-section-heading text-center text-secondary mb-0">CERES - Campus Caicó</h5>
      <table class="table table-striped table-sm table-bordered">
        <tr align="center">
          <th>ID</th>
          <th>Código</th>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Nível</th>
          <th>Departamento</th>
        </tr>
          {% for cc in componentes %}
            <tr>
              <td align="center">{{ cc.id_componente }}</td>
              <td align="center">{{ cc.codigo }}</td>
              <td align="center">{{ cc.nome }}</td>
              <td align="center">{{ cc.tipo }}</td>
              <td align="center">{{ cc.nivel }}</td>
              <td align="center">{{ cc.departamento.nome }}</td>
            </tr>
          {% endfor %}
      </table>
    </div>
  </section>
{% endblock %}

