{% extends 'core/base.html' %}
{% block title %}Suggest Classes - Cadastro de Usuário{% endblock %}
{% block content %}

  <div class="container">

    <h3 class="page-section-heading text-center text-secondary mb-0">Cadastro de Usuário</h3>
    <br/>
    <div>
      <form method="post">
        {% csrf_token %}
        <table>
          {% for field in form_usuario %}
            <tr class="align-middle">
              <th class="align-middle"><label>{{ field.label_tag }}</label></th>
              <td>{{ field }}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text|safe }}</small>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
        <div class="form-group">
          <input type="submit" value="Cadastrar" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
