{% extends 'core/base.html' %}

{% block content %}

  <section class="page-section" id="perfil_docente">
    <div class="container">

      <div id="perfil_discente" class="center text-center form-group">
        <h3 class="page-section-heading text-center text-secondary mb-0">Perfil do Docente</h3>
      </div>

      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#usuario">Usuário</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#horarios">Horários</a></li>
      </ul>

      <div class="tab-content">
        <div id="usuario" class="tab-pane container active">
          <table class="table table-striped table-sm table-bordered">
            <tr>
              <td class="font-weight-bold" width="20%">Username</td>
              <td>{{ usuario.username }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold" width="20%">Nome</td>
              <td>{{ usuario.get_full_name }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold" width="20%">Email</td>
              <td>{{ usuario.email }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold" width="20%">Grupos</td>
              <td>{{ grupos }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold" width="20%">Data de Cadastro</td>
              <td>{{ usuario.date_joined }}</td>
            </tr>
          </table>

          <table class="table table-striped table-sm table-bordered">
            <tr>
              <td class="font-weight-bold" width="20%">Siape</td>
              <td>{{ perfil.siape }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold" width="20%">Nome</td>
              <td>{{ perfil.nome }}
                <a href="https://sigaa.ufrn.br/sigaa/public/docente/portal.jsf?siape={{ object.siape }}">
                  <span class="material-icons md-18 align-middle">
                    account_box
                  </span>
                </a>
              </td>
            </tr>
            <tr>
              <td class="font-weight-bold" width="20%">Formação</td>
              <td>{{ perfil.formacao }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold" width="20%">Tipo Jornada Trabalho</td>
              <td>{{ perfil.tipo_jornada_trabalho }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold" width="20%">Vínculo</td>
              <td>{{ perfil.vinculo }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold" width="20%">Categoria</td>
              <td>{{ perfil.categoria }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold" width="20%">Classe Funcional</td>
              <td>{{ perfil.classe_funcional }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold" width="20%">Lotação</td>
              <td>{{ perfil.lotacao }}</td>
            </tr>
            <tr>
              <td class="font-weight-bold" width="20%">Admissão</td>
              <td>{{ perfil.admissao }}</td>
            </tr>
          </table>
        </div>
        <div id="horarios" class="tab-pane container fade">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#horarios_atual">
              Horários {{ ano_periodo_atual }}</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#horarios_seguinte">
              Horários {{ ano_periodo }}</a></li>
          </ul>
          <div class="tab-content">
            <div id="horarios_atual" class="tab-pane container active">
              {% include 'core/usuario/horarios_atual_periodo.html' %}
            </div>
            <div id="horarios_seguinte" class="tab-pane container fade">
              {% include 'core/usuario/horarios_prox_periodo.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
