name: Python application

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  # Also trigger on page_build, as well as release created events
  page_build:
  release:
    types: # This configuration does not affect the page_build event above
      - created

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Display the path
        run: echo $PATH
        shell: bash
      - uses: actions/checkout@v1
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Shutdown Ubuntu MySQL (SUDO)
        run: sudo service mysql stop # Shutdown the Default MySQL, "sudo" is necessary, please not remove it
      - name: Start MariaDB
        uses: getong/mariadb-action@v1.1
        with:
            character set server: 'utf8'
            collation server: 'utf8_general_ci'
            mysql database: 'scdb_dev'
            mysql user: 'sc_user'
            mysql password: ${{ secrets.DatabasePassword }}
      - name: System Update
        run: |
          sudo apt-get install python3.7-dev
          sudo apt-get install default-libmysqlclient-dev
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U setuptools
          pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          pip install flake8
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Run Migrations
        run: |
          python manage.py makemigrations core
          python manage.py migrate core
      - name: Grant All
        run: |
          mysql -h127.0.0.1 -uroot -p${{ secrets.DatabasePassword }} -e "SHOW DATABASES"
          mysql -h127.0.0.1 -uroot -p${{ secrets.DatabasePassword }} -e "GRANT ALL PRIVILEGES ON scdb_dev.*  TO 'sc_user'@'%';"
          mysql -h127.0.0.1 -uroot -p${{ secrets.DatabasePassword }} -e "GRANT ALL PRIVILEGES ON scdb_test.*  TO 'sc_user'@'%';"
      - name: Test with manage.py test
        run: python manage.py test core
      - name: Test with pytest
        run: |
          pip install pytest
          pytest
